mixin btn(text, href)
  a.btn.btn-primary(href="#{href}")= text

mixin projectPreview(proj)
    -var thumb = proj.metadata.thumbnail
    h2: a(href="#{proj.url}", data-pjax)
        != proj.title.replace('<br/>', '')
    .thumbnail: a(href="#{proj.url}")
        if thumb
            - var thumbSrc = (thumb.src.substring(0,4) == "http") ?  thumb.src : (proj.url + thumb.src);
                img(src=thumbSrc, title=proj.metadata.title, alt=proj.metadata.title, width=thumb.width, height=thumb.height)
        else
            img(src="/media/images/na.png", title=proj.metadata.title, alt=proj.metadata.title, width="224px", height="160px")
    .description
        != typogr(proj.html).typogrify()


mixin projectHeader()
    header(id="title")
        h2 #{page.metadata.title} 
            if page.metadata.date
            span.date (!{typogr(page.metadata.date.toString()).typogrify()})
        if page.metadata.collaborators
            .collaborators !{typogr(page.metadata.collaborators).typogrify()}


mixin projectMedia()
    if page.metadata.video
        iframe(src="http://player.vimeo.com/video/" + page.metadata.video, width="500", height="413", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
    else
        - var firstImage = page.metadata.image || (page.metadata.images ? page.metadata.images[0]: null);
        if firstImage
            .visuals
                #media-space
                    if page.metadata.images
                        .slideshow-wrapper
                            .preloader
                            ul(data-orbit)               
                                each image in page.metadata.images
                                    li
                                        img(src="#{page.url + image.src}")
                                        if image.caption
                                            .orbit-caption #{image.caption}
                            



mixin projectDescription()
    .item-content-wrapper.no-role.no-importance
        .item-content.description
            != typogr(page.html).typogrify()
    .meta
        dl
            if page.metadata.externalURL
                dt URL
                dd: a(href="#{page.metadata.externalURL}") #{page.metadata.externalURL}


mixin thumb(src, href)
  a.thumbnail(href=href)
    img(src=src)

mixin video(src)
  div.thumbnail.video.
    <iframe width="620" height="349" 
       src="#{src}" frameborder="0"
       allowfullscreen></iframe>

mixin title(id, t)
  h2: a(href="##{id}")!= t