extends layout

block title
    = page.metadata.title + " | " + locals.title

block localVars
    - bodyClass = "portfolio"


block content
    include mixins

    - var projects = _.chain(contents.portfolio._.directories).map(function (item) {
    -         var obj = (item["index.md"] || item["index.json"]);
    -         if (obj && obj.metadata && !obj.metadata.template) {
    -             // strip out the pages with no template specified
    -             obj = null;
    -         }
    -         return obj;
    -     }).compact().filter(function(item) {
    -         if (page.metadata.tags) {
    -             var overlap = _.intersection(page.metadata.tags, item.metadata.tags);
    -             return !!overlap.length;
    -         }
    -         return true;
    -     }).sortBy(function (descr) {
    -         var dateStr = descr.metadata.date.toString();
    -         var startDate = parseInt(dateStr.split("--")[0], 10);
    -         var endDate = parseInt(dateStr.split("--")[1], 10) || 0;
    -         return -1 * (startDate + (endDate*.00001));
    -     }).value();
    - var allTags = _.chain(projects).pluck('metadata').pluck('tags').flatten().value(); //uniq().invoke('sort').value();
    - //allTags = (_.uniq(_.flatten(allTags)));
    - var tagCloud = _.chain(allTags).reduce(function(a, v) {
    -     a[v] = (a[v] || 0) + 1;
    -     return a;
    - }, {}).value();
    - // todo: groupBy keys, sort those groupings alphabetically?
    - var sortedTags = _.keys(tagCloud).sort();



    .row
        .columns.listing(class="#{ !page.metadata.tags ? 'all' : ''}")
            .large-12
                .breadcrumbs
                    span portfolio
                        - var tag = "";
                        - if (page.metadata.tags) {
                        -   tag = ": " + page.metadata.tags.join(", ");
                        - }
                        != tag

            // show the tag cloud if we are on the "all" page only
            if !page.metadata.tags
                .large-12.tag-cloud
                    h3 Search by tag:
                    p: span.filter.active(data-filter="all") [Show All]
                    ul
                        each tag in sortedTags
                            li.filter(data-filter="#{tag}"): span(data-weight="#{tagCloud[tag]}") #{tag} (#{tagCloud[tag]})
                        
            each proj in projects
                div(class="mix #{proj.metadata.tags.join(' ')}")
                    .large-12.project-preview
                        +projectPreview(proj)
